h1, p {
  text-align: center;
}

.grid {
  border: 10px solid black;
  background-color: white;
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
}
.paint-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 20px;
}

.paint-color {
  border: 5px solid black;
  background-color: aquamarine;
  width: 75px;
  height: 30px;
}
.paint-color2 {
  border: 5px solid black;
  background-color: crimson;
  width: 75px;
  height: 30px;
}
.paint-color3 {
  border: 5px solid black;
  background-color: fuchsia;
  width: 75px;
  height: 30px;
}
.paint-color4 {
  border: 5px solid black;
  background-color: indigo;
  width: 75px;
  height: 30px;
}
.paint-color5 {
  border: 5px solid black;
  background-color: steelblue;
  width: 75px;
  height: 30px;
}
